# Auto detect text files and perform LF normalization
* text=auto
lichee/rtos/tools/gcc-arm-melis-eabi-8-2019-q3-update-linux.tar.bz2 filter=lfs diff=lfs merge=lfs -text
lichee/rtos/tools/gcc-arm-none-eabi-8-2019-q3-update-linux.tar.bz2 filter=lfs diff=lfs merge=lfs -text
lichee/rtos/tools/gcc-arm-none-eabi-8-2019-q3-update-win32.zip filter=lfs diff=lfs merge=lfs -text
lichee/rtos/tools/riscv64-elf-x86_64-20201104.tar.gz filter=lfs diff=lfs merge=lfs -text
lichee/rtos/tools/Xuantie-900-gcc-elf-newlib-mingw-V2.6.1-20220906.tar.gz filter=lfs diff=lfs merge=lfs -text
