CONFIG_ARCH_SUN55IW3=y
# CONFIG_DRIVERS_PRCM is not set
CONFIG_SUNXI_UART_REGISTER_UART8=y
CONFIG_CLI_UART_PORT=8
CONFIG_DRIVERS_INTC=y
# CONFIG_DRIVERS_TWI is not set
CONFIG_DRIVERS_MSGBOX=y
CONFIG_DRIVERS_MSGBOX_AMP=y
# CONFIG_DRIVERS_TIMER is not set
# CONFIG_DRIVERS_SOUND is not set
# CONFIG_STANDBY is not set
# CONFIG_AW_JTAG_DEBUG is not set
CONFIG_COMPONENTS_RPBUF_SERVICE_RPMSG=y
CONFIG_COMPONENTS_RPBUF_CONTROLLER=y
CONFIG_COMPONENTS_RPBUF_DEMO=y
CONFIG_MULTI_CONSOLE=y
CONFIG_UART_MULTI_CONSOLE=y
CONFIG_RPMSG_MULTI_CONSOLE=y
CONFIG_RPMSG_CONSOLE_CACHE=y
CONFIG_COMPONENTS_XTENSA_LIBGLOSS=y
CONFIG_COMPONENTS_FREERTOS_CLI=y
CONFIG_FREERTOS_CLI_CMD_MEM_RW=y
CONFIG_COMPONENTS_LIBMETAL=y
CONFIG_COMPONENTS_OPENAMP=y
CONFIG_RPMSG_CLIENT=y
CONFIG_RPMSG_HEARBEAT=y
CONFIG_RPMSG_REMOTE_NAME="dsp0_rproc"
