CONFIG_ARCH_SUN60IW1=y
# CONFIG_DRIVERS_PRCM is not set
CONFIG_SUNXI_UART_REGISTER_UART0=y
CONFIG_DRIVERS_INTC=y
# CONFIG_DRIVERS_DMA is not set
# CONFIG_DRIVERS_TWI is not set
CONFIG_DRIVERS_MSGBOX=y
CONFIG_DRIVERS_MSGBOX_AMP=y
# CONFIG_DRIVERS_TIMER is not set
CONFIG_DRIVERS_HTIMER=y
# CONFIG_DRIVERS_SOUND is not set
# CONFIG_STANDBY is not set
# CONFIG_AW_JTAG_DEBUG is not set
CONFIG_COMPONENTS_XTENSA_LIBGLOSS=y
CONFIG_COMPONENTS_FREERTOS_CLI=y
CONFIG_FREERTOS_CLI_CMD_MEM_RW=y
CONFIG_COMPONENTS_LIBMETAL=y
CONFIG_COMPONENTS_OPENAMP=y
