CONFIG_ARCH_SUN8IW20=y
CONFIG_DRIVER_SYSCONFIG=y
# CONFIG_DRIVERS_PRCM is not set
CONFIG_SUNXI_UART_REGISTER_UART0=y
CONFIG_DRIVERS_INTC=y
CONFIG_DRIVERS_EFUSE=y
# CONFIG_DRIVERS_TWI is not set
CONFIG_DRIVERS_MSGBOX=y
CONFIG_DRIVERS_MSGBOX_AMP=y
# CONFIG_DRIVERS_SOUND is not set
# CONFIG_STANDBY is not set
# CONFIG_JTAG_DEBUG_DSP1 is not set
CONFIG_COMPONENTS_AMP=y
CONFIG_COMPONENTS_RPBUF_SERVICE_RPMSG=y
CONFIG_COMPONENTS_RPBUF_CONTROLLER=y
CONFIG_COMPONENTS_RPBUF_DEMO=y
CONFIG_MULTI_CONSOLE=y
CONFIG_UART_MULTI_CONSOLE=y
CONFIG_RPMSG_MULTI_CONSOLE=y
CONFIG_RPMSG_CONSOLE_CACHE=y
CONFIG_COMPONENTS_AW_SYS_CONFIG_SCRIPT=y
CONFIG_SYS_CONFIG_BUILDIN=y
CONFIG_COMPONENTS_CEDARSE=y
CONFIG_COMPONENTS_XTENSA_LIBGLOSS=y
CONFIG_COMPONENTS_FREERTOS_CLI=y
CONFIG_FREERTOS_CLI_CMD_MEM_RW=y
CONFIG_FREERTOS_CLI_CMD_FREE=y
CONFIG_COMPONENTS_LIBMETAL=y
CONFIG_COMPONENTS_OPENAMP=y
CONFIG_RPMSG_CLIENT=y
CONFIG_RPMSG_CLIENT_DEBUG=y
CONFIG_RPMSG_HEARBEAT=y
