CONFIG_ARCH_SUN8IW20=y
CONFIG_DRIVER_SYSCONFIG=y
# CONFIG_DRIVERS_PRCM is not set
CONFIG_SUNXI_UART_REGISTER_UART2=y
CONFIG_CLI_UART_PORT=2
CONFIG_DRIVERS_INTC=y
CONFIG_DRIVERS_EFUSE=y
# CONFIG_DRIVERS_TWI is not set
CONFIG_DRIVERS_MSGBOX=y
CONFIG_DRIVERS_MSGBOX_AMP=y
CONFIG_SND_CODEC_SUN8IW20_AUDIOCODEC=y
CONFIG_SND_CODEC_DUMMY=y
CONFIG_COMPONENTS_AW_TINY_ALSA_LIB=y
CONFIG_COMPONENTS_AW_ALSA_UTILS=y
# CONFIG_STANDBY is not set
# CONFIG_JTAG_DEBUG_DSP1 is not set
CONFIG_MEMTESTER=y
CONFIG_COMPONENTS_MALLOC=y
CONFIG_COMPONENTS_AMP=y
CONFIG_COMPONENTS_AW_AUDIO_SYSTEM=y
CONFIG_COMPONENTS_AW_AUDIO_SYSTEM_HW=y
CONFIG_COMPONENTS_AW_AUDIO_SYSTEM_HW_PCM=y
CONFIG_COMPONENTS_AW_AUDIO_SYSTEM_TRACK=y
CONFIG_COMPONENTS_AW_AUDIO_SYSTEM_RECORD=y
CONFIG_COMPONENTS_AW_AUDIO_SYSTEM_UTILS=y
CONFIG_COMPONENTS_AW_AUDIO_SYSTEM_PLUGIN=y
CONFIG_COMPONENTS_RPBUF_SERVICE_RPMSG=y
CONFIG_COMPONENTS_RPBUF_CONTROLLER=y
CONFIG_COMPONENTS_RPBUF_DEMO=y
CONFIG_COMPONENTS_AW_SYS_CONFIG_SCRIPT=y
CONFIG_SYS_CONFIG_BUILDIN=y
CONFIG_COMPONENTS_XTENSA_LIBGLOSS=y
CONFIG_COMPONENTS_FREERTOS_CLI=y
CONFIG_FREERTOS_CLI_CMD_MEM_RW=y
CONFIG_FREERTOS_CLI_CMD_FREE=y
CONFIG_COMPONENTS_LIBMETAL=y
CONFIG_COMPONENTS_OPENAMP=y
CONFIG_RPMSG_CLIENT=y
CONFIG_RPMSG_CLIENT_TEST=y
CONFIG_RPMSG_CLIENT_DEBUG=y
CONFIG_AMP_TRACE_SUPPORT=y
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE_O2=y
