CONFIG_ARCH_SUN8IW20=y
CONFIG_DRIVER_SYSCONFIG=y
CONFIG_DRIVER_BOOT_DTS=y
CONFIG_SUNXI_UART_REGISTER_UART2=y
CONFIG_CLI_UART_PORT=2
# CONFIG_DRIVERS_PRCM is not set
CONFIG_DRIVERS_INTC=y
CONFIG_HAL_TEST_DMA=y
# CONFIG_DRIVERS_TWI is not set
CONFIG_DRIVERS_MSGBOX=y
CONFIG_DRIVERS_MSGBOX_AMP=y
# CONFIG_DRIVERS_SOUND is not set
CONFIG_COMPONENTS_AW_ALSA_RPAF=y
CONFIG_COMPONENTS_AW_ALSA_RPAF_COMPONENT=y
# CONFIG_STANDBY is not set
# CONFIG_JTAG_DEBUG_DSP1 is not set
CONFIG_MEMTESTER=y
CONFIG_AW_PERF_MEM_ACC=y
CONFIG_COMPONENTS_XTENSA_LIBGLOSS=y
CONFIG_COMPONENTS_FREERTOS_CLI=y
# CONFIG_FREERTOS_CLI_CMD_TEMPLATE is not set
CONFIG_FREERTOS_CLI_CMD_MEM_RW=y
CONFIG_FREERTOS_CLI_CMD_FREE=y
CONFIG_COMPONENTS_ALGO_GENERATE=y
