# Ignore uncrustify backups
*.o
*.o.cmd
*.d
*.elf
*.bin
*.swp
*.out

arch/*/lsp/*/*/*.a
arch/*/lsp/*/*.a

.config
.config.old

.buildconfig

tags

include/config/
include/generated/
include/reent.h

XtDevTools/*

pack/dsp_pack
out/*


